/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 900px;
  width: 90%;
}

#fake-map{
  height: 900px;
  width: 100%;
  background: white;
  color: black;
}

#overlay-frame{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 2;
}

#overlay-frame #overlay-card{
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  background: #EEEEEE;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}

#overlay-frame #overlay-card #overlay-contents{
	color: black;
	position: sticky;
	height: 40%;
  	width: 50%;
  	margin-left: 25%;
  	margin-top: 20%;
}

h2{
	width: 50%;
}

#overlay-frame #overlay-card #overlay-contents #update-button{
	margin-left: 35%;
	float: left;
	padding: 10px 30px;
	border-radius: 5px;
	background: red;
	border: none;
	color: white;
	text-align: center
}

#overlay-frame #overlay-card #overlay-contents #update-button:hover{
	cursor: pointer;
	background: darkred;
}

#overlay-frame #overlay-card #overlay-contents #update-button:active{
	transform: translateY(4px);
}


#overlay-frame #close-button{
	position: absolute;
	top: 20px;
	right: 40px;
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	cursor: pointer;
}
